/* GEAR DETAILS - CUSTOM STYLES */

.gear-details-section {
  width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 0px 6px 4px rgba(114, 131, 112, 0.5);
}

.gear-details-title {
  color: #003231;
}

.gear-image-container {
  max-height: 600px; /* Set fixed height */
  overflow: hidden; /* Hide overflow */
}

.gear-image {
  height: auto;
  width: auto; 
  object-fit: contain;
  border-radius: 16px;
}

.gear-info p {
  margin: 2rem 0;
  color: #555; /* Slightly lighter color for text */
}

.gear-title {
  color: #003231; /* Primary color for title */
}

.gear-for-sale {
  max-width: fit-content;
  padding: 5px;
}

.gear-description {
  margin-top: 1rem;
}

.gear-description p {
  margin-top: 10px;
  white-space: pre-wrap;
}

.button-container {
  padding: 5px;
}
