/********** Gear Details Styling **********/

.gear-details-container {
  width: 70%;
  margin: 3rem auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow for emphasis */
  background-color: #ffffff; /* Clean white background */
}

.gear-details-content {
  display: flex;
  align-items: flex-start;
}

.gear-image {
  width: 50%;
  height: 600px;
  object-fit: scale-down;
  border-radius: 8px;
  margin-right: 20px;
}

.gear-info {
  flex: 1;
}

.gear-info p {
  margin: 2rem 2rem;
  color: #555; /* Slightly lighter color for text */
}

.gear-info h2 {
  margin-top: 0;
  color: #333; /* Darker text color */
}

.for-sale {
  font-weight: bold;
  color: #ff5722; /* Bright orange-red for sale notice */
  margin-top: 10px;
}

.gear-info div {
  margin-bottom: 10px;
}

.gear-info .description {
  margin-top: 20px;
  text-indent: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition effects */
}

.edit-gear-button {
  background-color: #ffc107; /* Bright yellow for edit */
}

.edit-gear-button-link {
  text-decoration: none;
  color: white
}

.edit-gear-button:hover {
  background-color: #e0a800; /* Darker yellow on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.delete-gear-button {
  background-color: #f44336; /* Bright red for delete */
  color: #fff;
}

.delete-gear-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}