/* SMALL POST - BOOTSTRAP */
.card {
  background: rgba(205, 214, 187, 0.2);
  border: none;
  border-radius: 16px;
  height: 300px; /* Define height */
  transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transition for hover effects */
}

.small-post-img {
  max-height: 100%; /* Ensure image does not exceed the container height */
  max-width: 100%; /* Ensure image does not exceed the container width */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

.overlay {
  position: absolute;
  top: 50%; /* Center vertically relative to the container */
  left: 50%; /* Center horizontally relative to the container */
  transform: translate(-50%, -50%); /* Offset the center point to match */
  width: 100%;
  height: 100px; /* Set height for the overlay */
  background: rgba(0, 0, 0, 0.6); /* Background color with transparency */
  color: #ffffff; /* Text color */
  text-align: center;
  padding: 1rem;
  box-sizing: border-box; /* Include padding in the element's total width and height */
  opacity: 1; /* Start visible */
  transition: opacity 0.5s ease; /* Smooth transition for overlay fade */
}

.card:hover .overlay {
  opacity: 0; /* Hide overlay on hover */
}

.card:hover {
  transform: scale(1.01); /* Slightly enlarge the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.card-text {
  color: #CDD6BB; /* Set to accent color */
}

/* LARGE POST - BOOTSTRAP */
.lg-post-container {
  background: rgba(205, 214, 187, 0.2);
  border: none;
  border-radius: 16px;
  height: 300px; /* Define height */
  transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transition for hover effects */
  width: 100%; /* 2/3rds of the page width */
  margin: 15px auto; /* Center align */
  position: relative; /* Needed for absolute positioning of the forSale status */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.lg-post-container:hover {
  transform: scale(1.01); /* Slightly enlarge the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.card-img {
  object-fit: scale-down;
  margin-right: 20px; /* Space between image and text */
  border-radius: 8px; /* Optional rounded corners */
}

.for-sale-status {
  position: absolute; /* Position in the top right corner */
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 4px; /* Optional rounded corners */
  font-weight: bold;
  color: #003231
}

h2 {
  margin: 5px 0;
  font-size: 1.5rem; /* Larger heading size */
  color: #003231;
}

p {
  margin: 5px 0;
  color: #003231;
}

.description {
  margin: 15px 0; /* Add space around the description */
  padding-left: 20px; /* Indent the description from the left */
  color: #003231;
}

.post-link {
  display: block; /* Ensure Link behaves as a block element */
  text-decoration: none; /* Remove underline from Link */
  padding: 5px; /* Padding around the link */
  border-radius: 4px; /* Rounded corners for the link */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effects */
}

.post-link:hover {
  text-decoration: none;
}

/********** Gear Details Styling **********/

.gear-details-container {
  width: 70%;
  margin: 3rem auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow for emphasis */
  background-color: #ffffff; /* Clean white background */
}

.gear-details-content {
  display: flex;
  align-items: flex-start;
}

.gear-image {
  width: 50%;
  height: 600px;
  object-fit: scale-down;
  border-radius: 8px;
  margin-right: 20px;
}

.gear-info {
  flex: 1;
}

.gear-info p {
  margin: 2rem 2rem;
  color: #555; /* Slightly lighter color for text */
}

.gear-info h2 {
  margin-top: 0;
  color: #333; /* Darker text color */
}

.for-sale {
  font-weight: bold;
  color: #ff5722; /* Bright orange-red for sale notice */
  margin-top: 10px;
}

.gear-info div {
  margin-bottom: 10px;
}

.gear-info .description {
  margin-top: 20px;
  text-indent: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition effects */
}

.edit-gear-button {
  background-color: #ffc107; /* Bright yellow for edit */
}

.edit-gear-button-link {
  text-decoration: none;
  color: white
}

.edit-gear-button:hover {
  background-color: #e0a800; /* Darker yellow on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.delete-gear-button {
  background-color: #f44336; /* Bright red for delete */
  color: #fff;
}

.delete-gear-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}