.user-profile-container {
    width: 60%;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0px 0px 6px 4px rgba(114, 131, 112, 0.5);
}

.user-profile-name-input,
.user-profile-location-input {
    width: 500px;
}

.user-profile-about {
    max-width: 500px;
}

.user-profile-about-text {
    white-space: pre-wrap; /* Preserves line breaks */
    word-wrap: break-word; /* Handles long words */
  }
