/* 2 Column Layout*/

/* form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 120px;
    resize: vertical;
  }
  
  button {
    width: auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  .gear-form-item {
    grid-column: span 1;
  }
  
  .gear-form-item.full-width {
    grid-column: span 2;
  } */


/* Vertical layout */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: .8rem;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .for-sale-filter {
    margin-top: 10px;
  }

  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent */
    z-index: 1000; /* High z-index */
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .ReactModal__Content {
    position: absolute; /* Absolute positioning within overlay */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact center */
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }